* {
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

.header {
    display: flex;
    height: 72px;
    flex-direction: row;
    justify-content: space-between;
}

.logo, .navigation {
    display: flex;
    flex: 1;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: #E5E7EB;
}

.hero {
    display: flex;
    height: 200px;
    flex-direction: row;
    justify-content: center;
    padding: 50px;
    gap: 50px;
}







.header, .hero, .footer {
    background-color: #1f2937;
}

.gray {
    background-color: #E5E7EB;
}

.white {
    background-color: white;
}